<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to FutbolWin Portal</title>
		<meta charset="UTF-8">
	</head>	
	<body>
		<h1>
			Bienvenido al portal oficial de FutbolWin.
		</h1>

		<a href="http://localhost:1337/signup">Registrate</a> / <a href="http://localhost:1337/login">Ingresar</a>

	</body>
</html>